<?xml version="1.0"?>
<model>
  <name>Viper</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Navin Kaviyarasu</name>
    <email>navin_k@zohomail.in</email>
  </author>
  <description>
    Thrust-vector-controlled rocket model with dual motors.
  </description>
</model>