<?xml version="1.0"?>

<model>
  <name>Viper_SITL</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Navin Kaviyarasu</name>
    <email>navin_k@zohomail.in</email>
  </author>

  <maintainer email="navin_k@zohomail.in">@navinkaviyarasu</maintainer>


  <description>
    Viper with ardupilot plugin and libLiftDragPlugin
  </description>

  <depend>
    <model>
      <uri>model://viper</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
